@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);

body {
    /*font: 18px/27px "Oxygen", sans-serif;*/
    font: "Oxygen", sans-serif;
}

i {
    margin-right: 5px;
}

h1,
h2,
h3 {
    color: #357333;
}

a:hover{
    color:#febd00;
    text-decoration: none;
}

a{
    color:white;
}

.bg-green{
    background-color: #357333!important;
    color: #ffffff !important;
}

.bg-blue{
    background-color: #23bbc5;
    color: white;
}
.line-green{
    border-bottom: #047235 1px solid;
}