<!-- TODO: TROCAR ID DESSA MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Formação
					Acadêmica</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="txtcurso">Curso*</label> <input type="text"
							class="form-control" id="txtcurso" placeholder="Psicologia">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="txtinstituicao">Instituição*</label> <input
							type="text" class="form-control" id="txtinstituicao"
							placeholder="Psicologia">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="txtdataInicio">Data de incio*</label> <input
							type="date" class="form-control" id="txtdataInicio"
							aria-describedby="">
					</div>
					<div class="form-group col-md-6">
						<label for="txtdataFim">Data de fim*</label> <input type="date"
							class="form-control" id="txtdataFim" aria-describedby="">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-lg-6">
						<label for="selgrau">Grau Acadêmico*</label> <select
							class="form-control" id="selgrau">
							<option selected="selected" disabled="disabled">Selecione...</option>
							<option>fundamental</option>
							<option>Médio</option>
							<option>Superior</option>
							<option>Pós Graduação</option>
							<option>Mestrado</option>
							<option>Doutorado</option>
							<option>Pós Doutorado</option>
							<option>Livre Docência</option>
						</select>
					</div>
					<div class="form-group col-lg-6">
						<label for="selsituacaoAcademica">Situação acadêmica*</label> <select
							class="form-control" id="selsituacaoAcademica">
							<option selected="selected" disabled="disabled">Selecione...</option>
							<option>cursando</option>
							<option>concluído</option>
							<option>incompleto</option>
						</select>
					</div>
					<div class="form-group col-lg-12">
						<label for="selPaisFormacao">País*</label> <select
							class="form-control" id="selPaisFormacao">
							<option selected="selected" disabled="disabled">Selecione...</option>
							<option>Chile</option>
							<option>Argentina</option>
							<option>Colômbia</option>
							<option>...</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">voltar</button>
				<button type="button" class="btn bg-blue">Adicionar</button>
			</div>
		</div>
	</div>
</div>