<meta charset="utf-8">
<div id="dependente" class="d-none">
	<div class="group-box">
		<div class="group-box-header">
			<h5 class="title">Dependente</h5>
		</div>
		<div class="group-box-content">
			<div class="form-row">
				<div class="form-group col-lg-6">
					<label for="txtnomeDependente">Nome*</label>
					<input type="text" class="form-control" id="txtnomeDependente" placeholder="Maria João">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
				<div class="form-group col-lg-6">
					<label for="selsexoDependente">Sexo*</label>
					<select class="form-control" id="selsexoDependente">
						<option value="0" disabled="disabled" selected="selected">Selecione...</option>
						<option value="FEMININO">Feminino</option>
						<option value="MASCULINO">Masculino</option>
						<option value="NAOBINARIO">Não binário</option>
					</select>
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-6">
					<label for="txtdataNascimentoDependente">Data de Nascimento*</label>
					<input type="date" class="form-control" id="txtdataNascimentoDependente" aria-describedby="campo para data de nascimento">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
				<div class="form-group col-lg-6">
					<label for="txtdataChegadaDependente">Data da Chegada*</label>
					<input type="date" class="form-control" id="txtdataChegadaDependente" aria-describedby="campo para data de nascimento">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-6">
					<label for="selParentesco">Parentesco*</label>
					<select class="form-control" id="selParentesco">
						<option value="0" disabled="disabled" selected="selected">Selecione...</option>
						<option value="PAI">Pai</option>
						<option value="MAE">Mãe</option>
						<option value="FILHO">Filho(a)</option>
						<option value="NETO">Neto(a)</option>
						<option value="SOGRO">Sogro(a)</option>
						<option value="CUNHADO">Cunhado(a)</option>
						<option value="COMPANHEIRO">Companheiro(a)</option>
						<option value="OUTRO">Outro(a)</option>
					</select>
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
				<div class="form-group col-lg-6">
					<label for="selPaisDependente">País*</label>
					<select class="form-control" id="selPaisDependente">
						<option value="0" selected="selected" disabled="disabled">Selecione...</option>
					</select>
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-lg-6 form-group">
					<label for="documentoDependente">Documento</label>
					<div class="input-group">
						<input id="documentoDependente" placeholder="X000000-0" type="text" class="form-control uppercase" aria-label="Text input with dropdown button">
						<div class="input-group-append dropdown">
							<button id="tipoDocumentoDependente" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RNM</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#" onclick="$('#tipoDocumentoDependente').html('RNM')">RNM</a>
								<a class="dropdown-item" href="#" onclick="$('#tipoDocumentoDependente').html('Protocolo')">Protocolo</a>
							</div>
						</div>
						<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
						<div class="valid-feedback"></div>
					</div>
				</div>
				<div class="form-group col-lg-6">
					<label for="txtcpfDependente">CPF</label>
					<input type="text" class="form-control" id="txtcpfDependente" placeholder="000.000.000-00">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
			<div class="form-row">
				<button id="btnadddependente" type="button" class="btn bg-green float-right" onclick="adicionarDependente()">Adicionar</button>
			</div>
		</div>
	</div>
	<div class="form-row ml-4 mr-4">
		<div id="novosDependentes" class="form-group card-columns">
			<div th:each="dependent, list : ${refugee.dependents}" th:classappend="${dependent.status ? 'card text-white bg-secondary mb-3' : ''}" style="max-width: 18rem;">
				<div th:if="${dependent.status}">
					<div class="m-3">
						<div th:text="${dependent.name} + ' - ' + ${dependent.kinship}"></div>
						<i class="fas fa-times ml-3 text-dark pointer" onclick="$(this).parent().parent().parent().attr('class', '');$(this).parent().parent().parent().find('.status').val(false);$(this).parent().parent().remove()"></i>
					</div>
				</div>

				<input type="hidden" th:name="dependents[ + ${list.index} + ].id" th:value="${dependent.id}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].name" th:value="${dependent.name}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].birthDate" th:value="${dependent.bornDate}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].gender" th:value="${dependent.gender}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].arrivalDate" th:value="${dependent.arrivalDate}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].kinship" th:value="${dependent.kinship}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].birthCountry.id" th:value="${dependent.birthCountry.id}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].documents[0].number" th:value="${dependent.documents[0].number}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].documents[0].type" th:value="${dependent.documents[0].type}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].documents[0].status" th:value="${dependent.documents[0].status}">
				<input type="hidden" th:name="dependents[ + ${list.index} + ].status" th:value="${dependent.status}" class="status">

				<div th:if="${#lists.size(dependent.documents) > 1} AND ${dependent.documents[1].type == 'CPF'}">
					<input type="hidden" th:name="dependents[ + ${list.index} + ].documents[1].number" th:value="${dependent.documents[1].number}">
					<input type="hidden" th:name="dependents[ + ${list.index} + ].documents[1].type" th:value="${dependent.documents[1].type}">
					<input type="hidden" th:name="dependents[ + ${list.index} + ].documents[1].status" th:value="${dependent.documents[1].status}">
				</div>
			</div>
		</div>
	</div>
</div>