<meta charset="utf-8">
<div id="experiencia" class="d-none">
	<div class="form-row mt-3" id="linguaDiv">
		<div class="form-group col-lg-6">
			<label for="sellingua">Línguas*</label>
			<select class="form-control" id="sellingua" data-live-search="true">
				<option value="0" selected="selected" disabled="disabled">Selecione...</option>
				<option value="PORTUGUES">Postugês</option>
				<option value="ARABE">Árabe</option>
				<option value="INGLES">Inglês</option>
				<option value="ESPANHOL">Espahol</option>
				<option value="FRANCES">Francês</option>
			</select>
			<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
			<div class="valid-feedback"></div>
		</div>
		<div class="form-group col-lg-6">
			<label for="selnivel">Nivel*</label>
			<div class="input-group">
				<select class="form-control" id="selnivel">
					<option value="0" selected="selected" disabled="disabled">Selecione...</option>
					<option value="BASICO">Básico</option>
					<option value="INTERMEDIARIO">Intermediario</option>
					<option value="AVANCADO">Avançado</option>
					<option value="FLUENTE">Fluente</option>
				</select>
				<div class="input-group-append">
					<button class="btn btn-blue" type="button" onclick="adicionarLingua()">
						<i class="fas fa-plus"></i>
					</button>
				</div>
				<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
				<div class="valid-feedback"></div>
			</div>
		</div>
		<div id="linguas" class="form-group col-lg-12 card-deck">
			<div th:each="language, list : ${refugee.languages}" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
				<div class="m-3" th:text="${language.name} + ' - ' + ${language.fluency}">
					<i class="fas fa-times ml-3 text-dark pointer" onclick="$(this).parent().parent().find('.status').val(false);$(this).parent().remove()"></i>
				</div>
				<input type="hidden" th:name="languages[ + ${list.index} + ].name" th:value="${language.nome}">
				<input type="hidden" th:name="languages[ + ${list.index} + ].fluency" th:value="${language.fluency}">
				<input type="hidden" th:name="languages[+${list.index}+].status" th:value="${language.status}">
			</div>
		</div>
	</div>
	<hr>
	<div class="form-row mt-3">
		<div class="form-group col-lg-6">
			<button id="btnformacao" type="button" class="btn btn-blue" data-toggle="modal" data-target="#modalFormacao" style="width: 100%;">
				Formação Acadêmica
				<i class="fas fa-plus"></i>
			</button>
		</div>
		<div class="form-group col-lg-6">
			<button id="btnprofissional" type="button" class="btn btn-blue" data-toggle="modal" data-target="#modalExperiencia" style="width: 100%;">
				Experiência Profissional
				<i class="fas fa-plus"></i>
			</button>
		</div>
	</div>
	<div class="form-row">
		<div id="formacao" class="form-group col-lg-6">
			<div th:each="academic, list : ${academics}" class="card text-white bg-secondary mb-3">
				<div class="m-3" th:text="${academic.course} + ' - ' + ${academic.instituation}">
					<i class="fas fa-times ml-3 text-dark pointer" onclick="$(this).parent().parent().find('.status').val(false);$(this).parent().remove()"></i>
				</div>
				<input type="hidden" th:name="academics[ + ${list.index} + ].course" th:value="${academic.course}">
				<input type="hidden" th:name="academics[ + ${list.index} + ].instituation" th:value="${academic.instituation}">
				<input type="hidden" th:name="academics[ + ${list.index} + ].startDate" th:value="${academic.startDate}">
				<input type="hidden" th:name="academics[ + ${list.index} + ].endDate" th:value="${academic.endDate}">
				<input type="hidden" th:name="academics[ + ${list.index} + ].level" th:value="${academic.level}">
				<input type="hidden" th:name="academics[ + ${list.index} + ].situation" th:value="${academic.situation}">
				<input type="hidden" th:name="academics[ + ${list.index} + ].country.id" th:value="${academic.id}">
				<input type="hidden" th:name="academics[+${list.index}+].country.status" th:value="${academic.status}" class="status">

			</div>
		</div>
		<div id="experienciaDeck" class="form-group col-lg-6">
			<div th:each="profess, list : ${refugee.professions}" class="professionsAtualizarMaster card text-white bg-secondary mb-3" style="max-width: 18rem;">
				<div class="m-3" th:text="${profess.workload} + ' - ' + ${profess.company} ">
					<i class="fas fa-times ml-3 text-dark pointer" onclick="$(this).parent().parent().find('.status').val(false);$(this).parent().remove()"></i>
				</div>

				<input type="hidden" th:name="professions[ + ${list.index} + ].recommendation" th:value="${profess.recommendation}">
				<input type="hidden" th:name="professions[ + ${list.index} + ].description" th:value="${profess.description}">
				<input type="hidden" th:name="professions[ + ${list.index} + ].workload" th:value="${profess.workload}">
				<input type="hidden" th:name="professions[ + ${list.index} + ].company" th:value="${profess.company}">
				<input type="hidden" th:name="professions[ + ${list.index} + ].startDate" th:value="${profess.startDate}">
				<input type="hidden" th:name="professions[ + ${list.index} + ].endDate" th:value="${profess.endDate}">
				<input type="hidden" th:name="professions[ + ${list.index} + ].current" th:value="${profess.current}">
				<input type="hidden" th:name="professions[ + ${list.index} + ].country.id" th:value="${profess.country.id}">
				<input type="hidden" th:name="professions[+${list.index}+].country.status" th:value="${profess.status}" class="status">
			</div>
		</div>
	</div>
</div>