<meta charset="utf-8">
<div id="endereco" class="d-none">
	<div class="box">
		<div id="camposEndereco">
			<div class="form-row mt-3">
				<div class="form-group col-lg-6">
					<label for="seltipoendereco">Tipo de moradia</label>
					<select th:field="*{address.homeType}" class="form-control" id="seltipoendereco">
						<option value="0" selected="selected" disabled="disabled">Selecione...</option>
						<option value="PROPRIA">Própria</option>
						<option value="ALUGADA">Alugada</option>
						<option value="AUXILIO">Auxílio</option>
						<option value="OUTRO">Outro</option>
					</select>
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
				<div class="form-group col-lg-6">
					<label for="txtcep">CEP</label>
					<input type="hidden" id="tempValCep" th:value="*{address.cep}">
					<input th:field="*{address.cep}" type="text" class="form-control" id="txtcep" placeholder="XXXXX-XXX">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-6">
					<label for="txtestado">Estado</label>
					<select onchange="getCities($(this).val(), 0)" class="form-control" id="txtestado">
						<option value="0" selected="selected" disabled="disabled">Selecione...</option>
					</select>
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
				<div class="form-group col-lg-6">
					<label for="txtcidade">Cidade</label>
					<select name="address.city.id" class="form-control" id="txtcidade">
						<option value="0" selected="selected" disabled="disabled">Selecione...</option>
					</select>
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-6">
					<label for="txtlogradouro">Logradouro</label>
					<input th:field="*{address.street}" type="text" class="form-control" id="txtlogradouro" placeholder="Rua Tulipas">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="txtnumero">Número</label>
					<input th:field="*{address.number}" type="number" class="form-control" id="txtnumero" placeholder="234">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
				<div class="form-group col-lg-4">
					<label for="txtcomplemento">Complemento</label>
					<input th:field="*{address.complement}" type="text" class="form-control" id="txtcomplemento" placeholder="bloco 3">
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
		</div>
		<div class="form-row" id="telefoneDiv">
			<div class="form-group col-lg-4">
				<label for="selTipoTelefone">Tipo</label>
				<select class="form-control" id="selTipoTelefone">
					<option value="0" selected="selected" disabled="disabled">Selecione...</option>
					<option value="RESIDENCIAL">Residêncial</option>
					<option value="CELULAR">Celular</option>
					<option value="COMERCIAL">Comercial</option>
				</select>
				<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
				<div class="valid-feedback"></div>
			</div>
			<div class="form-group col-lg-4">
				<label for="selOperadora">Opeadora</label>
				<select class="form-control" id="selOperadora">
					<option value="0" selected="selected" disabled="disabled">Selecione...</option>
					<option value="VIVO">Vivo</option>
					<option value="TIM">Tim</option>
					<option value="CLARO">Claro</option>
					<option value="OI">Oi</option>
				</select>
				<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
				<div class="valid-feedback"></div>
			</div>
			<div class="form-group col-lg-4">
				<label for="txtcep">Número</label>
				<div class="input-group">
					<input type="text" class="form-control" id="txtNumeroTel" placeholder="(00) 0 0000-0000">
					<div class="input-group-append">
						<button class="btn btn-blue" type="button" onclick="adicionarTelefone()">
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
					<div class="valid-feedback"></div>
				</div>
			</div>
		</div>
		<div id="novosTelefones" class="form-group card-columns">
			<div th:each="phone, list : ${refugee.phones}" class="telAtualizarMaster card text-white bg-secondary mb-3" style="max-width: 18rem;">
				<div class="m-3 telAtualizar">
					<i class="fas fa-times ml-3 text-dark pointer" onclick="$(this).parent().parent().find('.status').val(false);$(this).parent().remove()"></i>
				</div>
				<input type="hidden" class="idd" th:name="phones[ + ${list.index} + ].idd" th:value="${phone.idd}">
				<input type="hidden" class="number" th:name="phones[ + ${list.index} + ].number" th:value="${phone.number}">
				<input type="hidden" class="" th:name="phones[ + ${list.index} + ].operators" th:value="${phone.operators}">
				<input type="hidden" class="type" th:name="phones[ + ${list.index} + ].type" th:value="${phone.type}">
				<input type="hidden" class="status" name="phones[+${list.index}+].status" th:value="${phone.status}">
			</div>
		</div>
	</div>
</div>