<meta charset="utf-8">
<div id="necessidades" class="mt-3 d-none">
	<div class="form-row d-flex justify-content-center">
		<p class="font-weight-bold">Selecione as necessidades:</p>
		<div class="form-group ml-3">
			<input type="hidden" id="alimentosValue" th:field="*{necessity.food}" value="false">
			<input type="checkbox" id="Alimentos" th:checked="*{necessity.food}" onchange="$('#alimentosValue').val($(this).prop('checked'))"/>
			<label for="Alimentos" style="display: inline;">Alimentos</label>
		</div>
		<div class="form-group ml-3">
			<input type="hidden" id="moradiaValue" th:field="*{necessity.home}" value="false">
			<input type="checkbox" id="moradia" th:checked="*{necessity.home}" onchange="$('#moradiaValue').val($(this).prop('checked'))"/>
			<label for="moradia" style="display: inline;">Moradia(aluguel)</label>
		</div>
		<div class="form-group ml-3">
			<input type="hidden" id="remediosValue" th:field="*{necessity.medicine}" value="false">
			<input type="checkbox" id="remedios" th:checked="*{necessity.medicine}" onchange="$('#remediosValue').val($(this).prop('checked'))"/>
			<label for="remedios" style="display: inline;">Remédios</label>
		</div>
	</div>
	<div class="form-row d-flex justify-content-center">
		<input th:field="*{necessity.situation}" type="hidden" id="situacao" value="SOCORRO">
		<span class="font-weight-bold">Selecione a situação:</span>
		<div class="form-group ml-3">
			<input value="SOCORRO" checked="checked" class="ml-3" name="situacao" type="radio" id="b" />
			<label for="b" style="display: inline;">Socorro</label>
		</div>
		<div class="form-group ml-3">
			<input value="INTEGRACAO" class="ml-3" name="situacao" type="radio" id="c" />
			<label for="c" style="display: inline;">Integração</label>
		</div>
		<div class="form-group ml-3">
			<input value="CONSOLIDACAO" class="ml-3" name="situacao" type="radio" id="d" />
			<label for="d" style="display: inline;">Consolidação</label>
		</div>
		<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
		<div class="valid-feedback"></div>
	</div>
	<div class="form-row d-flex justify-content-center">
		<div class="col-lg-6">
			<label for="obs">Observações:</label>
			<textarea th:field="*{necessity.description}" class="form-control" id="obs" rows="5" style="width: 100%; resize: none;"></textarea>
			<div class="invalid-feedback invalid-feedback d-flex flex-column"></div>
			<div class="valid-feedback"></div>
		</div>
	</div>
</div>